*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#071321;
    color:#fff;
}

header{
    background:#091522;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    max-width:1200px;
    margin:auto;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    border-radius:15px;
}

.logo h2{
    color:#19d4ff;
    font-size:40px;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#19d4ff;
}

.menu-btn{
    display:none;
    font-size:35px;
    color:white;
    cursor:pointer;
    user-select:none;
}

.hero{
    max-width:1200px;
    margin:auto;
    padding:50px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.left{
    flex:1;
}

.right{
    flex:1;
    text-align:center;
}

.right img{
    width:100%;
    max-width:500px;
    border-radius:20px;
    box-shadow:0 0 40px #19d4ff55;
}

.badge{
    display:inline-block;
    padding:12px 30px;
    border:2px solid #19d4ff;
    border-radius:50px;
    color:#19d4ff;
    margin-bottom:25px;
    font-size:22px;
}

.left h1{
    font-size:70px;
    line-height:1.1;
}

.left p{
    font-size:28px;
    color:#ccc;
    margin:20px 0;
}

#countdown{
    font-size:42px;
    color:#19d4ff;
    font-weight:bold;
    margin:30px 0;
}

.btn{
    display:inline-block;
    padding:18px 45px;
    background:#19d4ff;
    color:#071321;
    text-decoration:none;
    font-weight:bold;
    border-radius:12px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* ================= MOBILE ================= */

@media(max-width:900px){

nav{
    flex-wrap:wrap;
}

.logo h2{
    font-size:28px;
}

.menu-btn{
    display:block;
    position:absolute;
    right:20px;
    top:28px;
    z-index:9999;
}

nav ul{
    display:none;
    flex-direction:column;
    width:100%;
    background:#091522;
    text-align:center;
    margin-top:20px;
    padding:20px 0;
    gap:20px;
}

nav ul.active{
    display:flex;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
}

.left h1{
    font-size:56px;
}

.left p{
    font-size:22px;
}

#countdown{
    font-size:32px;
}

.badge{
    font-size:18px;
}

.right img{
    max-width:90%;
}

}
